<div class="row">
  <div class="col-xs-3">
    <%# User info %>
    <%= render 'users/user', user: @user, book_new: @book_new %>
  </div>

  <div class="col-xs-9">
    <%# Books %>
    <%= render 'users/books', books: @books %>
  </div>
</div>
